<div class ="floater">
<a class="waves-effect waves-light btn modal-trigger" href="#new-post-modal">Add New Post</a>
</div>
{{#each posts as |post|}}

  <div class="container post-wrapper grey hoverable">
    <div class="row s12 amber">
      <div class="col s8 amber"><h5>{{post.title}}</h5></div>
      <div class="col s4 amber right-align">{{post.user.username}}
        <div class="col s12">{{post.date_created}}</div>
      </div>
    </div>
    <div class="row grey">
      <div class="col s12 grey">{{post.content}}</div>
    </div>
  </div>

{{/each}}




<!-- Modal Structure -->
<div id="new-post-modal" class="modal">
  <div class="modal-content">
    <h4>Add a New Post</h4>
    <form>
      <div class="input-field col s12">
        <textarea id="new-post-title" class="materialize-textarea" name="title"></textarea>
        <label for="new-post-title">Title</label>
      </div>
      <div class="input-field col s12">
        <textarea id="new-post-body" class="materialize-textarea" name="body"></textarea>
        <label for="new-post-body">Body</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    <button class="btn waves-effect waves-light" type="submit" id="create-post-btn">Add Post</button>
  </div>
</div>

<!-- Modal Structure -->
<div id="post-success-modal" class="modal">
  <div class="modal-content">
    <h4>Post Successful</h4>
    <p>Your post has been successfully created!</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>


<script src="./js/dashboard.js"></script>
<script src="./js/newpost.js"></script>
